{% extends "base.html" %}

{% block title %}Index page.{% endblock title %}

{% block content %}

    <h3>42 Coffee Cups Test Assignment</h3>



    {% if CustomProfile %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <p><small><b>Name</b></small>: {{ CustomProfile.first_name }}</p>
                    <p><small><b>Last Name</b></small>: {{ CustomProfile.last_name }}</p>
                    <p><small><b>Date of birth</b></small>: {{ CustomProfile.birth_date }}</p>
                    <p style="max-width: 250px;"><small><b>Photo:</b></small></p>
                    {% if CustomProfile.photo %}
                    <img src="/media/{{ CustomProfile.photo }}" class="img-rounded" />
                    {% else %}
                    <div class="alert alert-error">
                        <h3>Error: no photo found.</h3>
                    </div>
                        
                    {% endif %}
                </div>
                <div class="span4">
                    <p>Contacts:</p>
                        <p><small><b>Email:</b></small> {{ CustomProfile.email}}</p>
                        <p><small><b>Jabber:</b></small> {{ CustomProfile.jabber }}</p>
                        <p><small><b>Skype:</b></small> {{ CustomProfile.skype }}</p>
                        <p><small><b>Other Contacts:</b></small>
                            {{ CustomProfile.other_contacts }}</p>
                    <p style="max-width: 250px;"><small><b>Bio:</b></small>
                    {{ CustomProfile.bio }}</p>
                </div>
            </div>
        </div>
        
            
        
        <hr />
        <div class="container-fluid">
            <a href="/requests/">requests</a>
        </div>
    {% endif %}
{% endblock content %}