{% extends "base.html" %}

{% block title %}Index page.{% endblock title %}

{% block content %}

    <h3>42 Coffee Cups Test Assignment</h3>



    {% if CustomProfile %}
        {% for p in CustomProfile %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <p><small><b>Name</b></small>: {{ p.first_name }}</p>
                    <p><small><b>Last Name</b></small>: {{ p.last_name }}</p>
                    <p><small><b>Date of birth</b></small>: {{ p.birth_date }}</p>
                    <p style="max-width: 250px;"><small><b>Photo:</b></small></p>
                    {% if p.photo %}
                    <img src={{ p.photo }} class="img-rounded" />
                    {% else %}
                        <h3>Error: no photo found.</h3>
                    {% endif %}
                </div>
                <div class="span4">
                    <p>Contacts:</p>
                        <p><small><b>Email:</b></small> {{ p.email}}</p>
                        <p><small><b>Jabber:</b></small> {{ p.jabber }}</p>
                        <p><small><b>Skype:</b></small> {{ p.skype }}</p>
                        <p><small><b>Other Contacts:</b></small>
                            {{ p.other_contacts }}</p>
                    <p style="max-width: 250px;"><small><b>Bio:</b></small>
                    {{ p.bio }}</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <a href="/requests/">requests</a>
        </div>    
        {% endfor %}
    {% else %}
        <p>no person found.</p>
    {% endif %}
{% endblock content %}